BINANCE_PAY_API_KEY=
BINANCE_PAY_MERCHANT_ID=
BINANCE_PAY_SECRET_KEY=
FIREBASE_API_KEY=
FIREBASE_FIRESTORE_DATABASE_ID=
FIREBASE_PROJECT_ID=
GEMINI_API_KEY=
SMTP_FROM=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
VITE_GOOGLE_CLIENT_ID=